In [1]:
import pandas as pd

In [3]:
countries = pd.read_csv('/Users/kamalmishra/Downloads/countries of the world.csv')
countries.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [4]:
required_cols = ['Country',
                'Population',
                'Coastline (coast/area ratio)',
                'GDP ($ per capita)',
                'Literacy (%)',
                'Birthrate']

In [5]:
countries = pd.read_csv('/Users/kamalmishra/Downloads/countries of the world.csv',
                       usecols = required_cols,
                       decimal = ',')

In [6]:
countries.head()

,Country,Population,Coastline (coast/area ratio),GDP ($ per capita),Literacy (%),Birthrate
0,Afghanistan,31056997,0.00,700.0,36.0,46.60
1,Albania,3581655,1.26,4500.0,86.5,15.11
2,Algeria,32930091,0.04,6000.0,70.0,17.14
3,American Samoa,57794,58.29,8000.0,97.0,22.46
4,Andorra,71201,0.00,19000.0,100.0,8.71

In [7]:
countries.rename(columns = {'GDP ($ per capita)':'PerCapitaGDP'},
                inplace = True)
countries.head()

,Country,Population,Coastline (coast/area ratio),PerCapitaGDP,Literacy (%),Birthrate
0,Afghanistan,31056997,0.00,700.0,36.0,46.60
1,Albania,3581655,1.26,4500.0,86.5,15.11
2,Algeria,32930091,0.04,6000.0,70.0,17.14
3,American Samoa,57794,58.29,8000.0,97.0,22.46
4,Andorra,71201,0.00,19000.0,100.0,8.71

In [8]:
countries.rename(columns = {'Coastline (coast/area ratio)':'CoastlineAreaRatio',
                           'Literacy (%)':'LiteracyRate'},
                inplace = True)
countries.head()

,Country,Population,CoastlineAreaRatio,PerCapitaGDP,LiteracyRate,Birthrate
0,Afghanistan,31056997,0.00,700.0,36.0,46.60
1,Albania,3581655,1.26,4500.0,86.5,15.11
2,Algeria,32930091,0.04,6000.0,70.0,17.14
3,American Samoa,57794,58.29,8000.0,97.0,22.46
4,Andorra,71201,0.00,19000.0,100.0,8.71

In [9]:
countries['Population'].isna().sum()

0

In [10]:
world_population = countries['Population'].sum()
world_population

6524044551

In [11]:
countries.isna().sum()

Country                0
Population             0
CoastlineAreaRatio     0
PerCapitaGDP           1
LiteracyRate          18
Birthrate              3
dtype: int64

In [12]:
countries = countries.dropna()

In [13]:
countries.shape

(207, 6)

In [14]:
countries.LiteracyRate.min()

17.6

In [15]:
countries.LiteracyRate.max()

100.0

In [16]:
countries.LiteracyRate.idxmin()

151

In [17]:
countries['Country'][countries.LiteracyRate.idxmin()]

'Niger '

In [18]:
countries.LiteracyRate.idxmax()

4

In [19]:
countries['LiteracyRate'][countries.LiteracyRate.idxmax()]

100.0

In [20]:
countries[countries['LiteracyRate'] == countries.LiteracyRate.max()]

,Country,Population,CoastlineAreaRatio,PerCapitaGDP,LiteracyRate,Birthrate
4,Andorra,71201,0.00,19000.0,100.0,8.71
11,Australia,20264082,0.34,29000.0,100.0,12.14
54,Denmark,5450661,16.97,31100.0,100.0,11.13
68,Finland,5231372,0.37,27400.0,100.0,10.45
119,Liechtenstein,33987,0.00,25000.0,100.0,10.21
121,Luxembourg,474413,0.00,55100.0,100.0,11.94
154,Norway,4610820,7.77,37800.0,100.0,11.46

In [21]:
countries.LiteracyRate.mean()

82.94782608695652

In [22]:
countries.LiteracyRate.median()

92.5

In [23]:
countries.LiteracyRate.std()

19.672122668886164

In [24]:
countries.LiteracyRate.quantile(0.5)

92.5

In [25]:
countries.LiteracyRate.quantile([0.25, 0.5, 0.75])

0.25    72.4
0.50    92.5
0.75    98.0
Name: LiteracyRate, dtype: float64

In [26]:
countries.describe()

,Population,CoastlineAreaRatio,PerCapitaGDP,LiteracyRate,Birthrate
count,2.070000e+02,207.000000,207.000000,207.000000,207.000000
mean,3.138708e+07,18.773043,9675.362319,82.947826,22.312802
std,1.231555e+08,73.449820,10170.021706,19.672123,11.188104
min,7.026000e+03,0.000000,500.000000,17.600000,7.290000
25%,7.329150e+05,0.100000,1900.000000,72.400000,12.835000
50%,5.900754e+06,0.700000,5500.000000,92.500000,18.900000
75%,2.024316e+07,7.415000,14700.000000,98.000000,29.770000
max,1.313974e+09,870.660000,55100.000000,100.000000,50.730000

In [27]:
countries.LiteracyRate.mode()

0    99.0
dtype: float64

In [28]:
countries.LiteracyRate.skew()

-1.233903412331758

In [29]:
countries.LiteracyRate.kurtosis()

0.4147343707691684

In [30]:
countries[['CoastlineAreaRatio','PerCapitaGDP']].corr()

                    CoastlineAreaRatio  PerCapitaGDP
CoastlineAreaRatio            1.000000      0.048052
PerCapitaGDP                  0.048052      1.000000

In [32]:
countries[['LiteracyRate','PerCapitaGDP']].corr()

              LiteracyRate  PerCapitaGDP
LiteracyRate      1.000000      0.515122
PerCapitaGDP      0.515122      1.000000

In [33]:
countries[['Birthrate','PerCapitaGDP']].corr()

              Birthrate  PerCapitaGDP
Birthrate      1.000000     -0.642601
PerCapitaGDP  -0.642601      1.000000

In [34]:
countries.corr()

,Population,CoastlineAreaRatio,PerCapitaGDP,LiteracyRate,Birthrate
Population,1.000000,-0.061882,-0.039922,-0.045429,-0.051190
CoastlineAreaRatio,-0.061882,1.000000,0.048052,0.121786,-0.075255
PerCapitaGDP,-0.039922,0.048052,1.000000,0.515122,-0.642601
LiteracyRate,-0.045429,0.121786,0.515122,1.000000,-0.790846
Birthrate,-0.051190,-0.075255,-0.642601,-0.790846,1.000000

In [35]:
# Covariance
countries.cov()

,Population,CoastlineAreaRatio,PerCapitaGDP,LiteracyRate,Birthrate
Population,1.516727e+16,-5.597718e+08,-5.000204e+10,-1.100619e+08,-7.053309e+07
CoastlineAreaRatio,-5.597718e+08,5.394876e+03,3.589389e+04,1.759706e+02,-6.184219e+01
PerCapitaGDP,-5.000204e+10,3.589389e+04,1.034293e+08,1.030583e+05,-7.311728e+04
LiteracyRate,-1.100619e+08,1.759706e+02,1.030583e+05,3.869924e+02,-1.740603e+02
Birthrate,-7.053309e+07,-6.184219e+01,-7.311728e+04,-1.740603e+02,1.251737e+02

In [ ]:
# End of statistical analysis using data frame